@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

$pink: #fb2e86;
$red: #fb2448;
$blue: #2f1ac4;
$navy: #151875;
$violet: #7e33e0;
$navyLight: #3f509e;
$backgroundLight: linear-gradient(121.53deg, #f3f9ff 0%, #f1f0ff 100%);
$backgroundPurple: #e0d3f5;
$backgroundLightPink: #f2f0ff;
$wildblue: #8a8fb9;
$border-color-1: #e7e6ef;
$rhythm: #7e81a2;

$font-1: "Josefin Sans", sans-serif;
$font-2: "Lato", sans-serif;
